
.c-error-page {

    .title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 24px;
    }

    .sarcastic-text {
        margin-top: 10px;
        letter-spacing: 0.4px;
    }

    .self-help-video {
        margin-top: 30px;
    }

    .go-back {
        margin-top: 20px;
    }
}