
.c-game {

    .banner{
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
        width: calc(100% + 50px);
        background: #BE2550;
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        line-height: 45px;
    }

    .user-info {

    }

    .game-content {
        height: 800px;

        .c-drawable {
            .title {
                height: 60px;

                .text {
                    margin-top: 30px;
                    font-size: 16px;
                }
            }

            .drawing-container {
                display: inline-block;
                width: 378px;
                border-width: 1px;
                border-style: solid;
                border-color: black;
            }
            .c-settings {
                padding-left: 10px;
                display: inline-block;
                width: 500px;
                height: 377px;

                .c-pencil-size {
                    float: right;
                    height: 80px;
                    width: 100%;

                    .text {
                        font-weight: bold;
                    }
                }

                .c-colors {
                    float: right;

                    .text {
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .item {
                        margin-left: 7px;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: black;
                        border-radius: 4px;

                        &:hover {
                            border-color: blue;
                            border-width: 3px;
                        }
                    }

                    .active {
                       border-color: black;
                       border-width: 3px;
                    }
                }

                .c-submit {
                    margin-top: 20px;
                    float: right;
                    width: 100%;

                    .text {
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .submit {
                        button {
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}