
.c-legal {
    .title {
        font-size: 40px;
        font-weight: bold;
    }
    .content {
        padding-top: 30px;

        p {
            margin-left: calc(50% - 250px);
            max-width: 500px;
            line-height: 25px;
            letter-spacing: 0.4px;
        }
    }

    .go-back {
        margin-top: 35px;
    }
}