
.c-player-banner {
    height: 30px;
    line-height: 25px;
    background: #1890ff;
    

    div {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.4px;
        color: white;
    }

    .padding {
        padding-left: 10px;
    }

    .invite {
        position: absolute;
        right: 0;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
            color: red;
            
        }
    }

    

}