
.c-why {
    .title {
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .content {
        margin-top: 20px;
    }
    .extended {
        margin-top: 20px;

        p {
            font-size: 12px;
            letter-spacing: 0.4px;
        }
    }
    .go-back {
        margin-top: 20px;
    }
}